@model MvcApp.Models.DashboardViewModel

<div>
    @Html.PowerBIAccessToken()
    <h2>@Model.Dashboard.DisplayName</h2>
    <div class="tiles">
        @foreach (var tile in Model.Tiles)
        {
            <div class="flex-tile">
                <h3>@Html.ActionLink(tile.Title, "Tile", new { dashboardId = Model.Dashboard.Id, tileId = tile.Id })</h3>
                @Html.PowerBITileFor(m => tile, new { @class = "tile" })
                <div class="message"></div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var start = new Date();

            // Example binding to the tile click event
            $('[powerbi-tile').on('embed-init', function (e) {
                var message = e.currentTarget.parentElement.querySelector('.message');
                if (message) {
                    message.innerHTML = 'Loading...';
                }
            });

            $('[powerbi-tile]').on('tile-click', function (e) {
                window.open(e.detail.navigationUrl, '_blank');
            });

            // Example binding to the tile load event
            $('[powerbi-tile]').on('tile-load', function (e) {
                var now = new Date();
                var elasped = now - start;

                var message = e.currentTarget.parentElement.querySelector('.message');
                if (message) {
                    message.innerHTML = 'Loaded (' + (elasped / 1000) + ') seconds';
                }
            });
        });
    </script>
}