{
    "swagger":"2.0",
    "info":{
        "version":"v1.0",
        "title":"Power BI Client"
    },
    "host":"api.powerbi.com",
    "schemes":[
        "https"
    ],
    "consumes":[

    ],
    "produces":[

    ],
    "paths":{
        "/v1.0/myorg/datasets":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Returns the datasets",
                "operationId":"Datasets_GetDatasets",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[

                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Dataset]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Post a new entity to datasets",
                "operationId":"Datasets_PostDataset",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dataset",
                        "in":"body",
                        "description":"Create dataset parameters",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    }
                ],
                "responses":{
                    "201":{
                        "description":"Created",
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    },
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetDatasetById",
                "summary":"Gets the dataset metadata for the specifeid dataset id",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_DeleteDatasetById",
                "summary":"Deletes the dataset with the specified id",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetTables",
                "summary":"Gets all tables within the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Table]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables/{tableName}":{
            "put":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_PutTable",
                "summary":"Updates a schema and metadata for the specified table",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestMessage",
                        "in":"body",
                        "description":"The request message",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables/{tableName}/rows":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Posts new data rows into the specified table",
                "operationId":"Datasets_PostRows",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "description":"The dataset id",
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestMessage",
                        "in":"body",
                        "description":"The request message",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Deletes all rows from the specified table",
                "operationId":"Datasets_DeleteRows",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/refreshes":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetRefreshHistory",
                "summary":"Gets the dataset refresh history",
                "consumes":[],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"$top",
                        "description":"The requested number of entries in the refresh history, if not supported the default is all available entries",
                        "in":"query",
                        "required":false,
                        "type":"integer"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Refresh]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_RefreshDataset",
                "summary":"Start a dataset refresh",
                "consumes":[
                ],
                "produces":[
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/parameters":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetParameters",
                "summary":"Gets a list of parameters for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[DatasetParameter]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.UpdateParameters":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_UpdateParameters",
                "summary":"Updates the dataset parameters",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"updateDatasetParametersRequest",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/UpdateDatasetParametersRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/datasources":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetDatasources",
                "summary":"Gets a list of datasource for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Datasource]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.UpdateDatasources":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_UpdateDatasources",
                "summary":"Updates the dataset datasources using the specified datasource selectors",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"updateDatasourcesRequest",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/UpdateDatasourcesRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.SetAllConnections":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_SetAllDatasetConnections",
                "summary":"Sets all connections for the specified dataset",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"parameters",
                        "in":"body",
                        "description":"The body",
                        "required":true,
                        "schema":{
                            "$ref": "#/definitions/ConnectionDetails"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.BindToGateway":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_BindToGateway",
                "summary":"Bind dataset to gateway",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name": "bindToGatewayRequest",
                        "in": "body",
                        "description": "The bind to gateway request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BindToGatewayRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.GetBoundGatewayDatasources":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetGatewayDatasources",
                "summary":"Gets a list of bound gateway datasources for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[GatewayDatasource]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.DiscoverGateways":{
            "get":{
                "tags":[
                    "Gateways"
                ],
                "operationId":"Datasets_DiscoverGateways",
                "summary":"Gets a list of gateways to bind",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Gateway]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/imports":{
            "get":{
                "tags":[
                    "Imports"
                ],
                "summary":"Returns a list of imports",
                "operationId":"Imports_GetImports",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[

                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Import]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Imports"
                ],
                "summary":"Creates a new import using the specified import info",
                "operationId":"Imports_PostImport",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"datasetDisplayName",
                        "in":"query",
                        "required":true,
                        "description":"The display name of the dataset",
                        "type":"string"
                    },
                    {
                        "name":"nameConflict",
                        "in":"query",
                        "required":false,
                        "description":"Determines what to do if a dataset with the same name already exists",
                        "type":"string",
                        "enum":[
                            "Ignore",
                            "Abort",
                            "Overwrite"
                        ],
                        "x-ms-enum": {
                            "name": "ImportConflictHandlerMode",
                            "modelAsString": true
                        }
                    },
                    {
                        "name":"importInfo",
                        "in":"body",
                        "description":"The import to post",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/ImportInfo"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    },
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/imports/{importId}":{
            "get":{
                "tags":[
                    "Imports"
                ],
                "summary":"Gets the import metadata for the specifed import id",
                "operationId":"Imports_GetImportById",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"importId",
                        "in":"path",
                        "required":true,
                        "description":"The import id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/imports/createTemporaryUploadLocation":{
            "post":{
                "tags":[
                    "Imports"
                ],
                "summary":"Creates a temporary upload location for large files",
                "operationId":"Imports_CreateTemporaryUploadLocation",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[

                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/TemporaryUploadLocation"
                        }
                    }
                }
            }
        },
        
        "/v1.0/myorg/reports":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Gets a list of reports",
                "operationId":"Reports_GetReports",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[

                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Report]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/reports/{reportKey}":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Get the specified report",
                "operationId":"Reports_GetReport",
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Report"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Reports"
                ],
                "summary":"Deletes the specified report",
                "operationId":"Reports_DeleteReport",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/Clone":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Clones the specified report",
                "operationId":"Reports_CloneReport",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Clone report parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/CloneReportRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Report"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/Export":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Exports the specified report",
                "operationId":"Reports_ExportReport",
                "consumes":[],
                "produces":[
                    "application/zip"
                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "in":"path",
                        "description":"The report id",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200": {
                        "schema": {
                            "type": "file"
                        },
                        "description": "Exported File"
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/UpdateReportContent": {
        "post": {
          "tags": [
            "Reports"
          ],
          "summary": "Update the report content from a specified source",
          "operationId": "Reports_UpdateReportContent",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "reportKey",
              "description": "The report id",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "requestParameters",
              "description": "UpdateReportContent parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateReportContentRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Report"
              }
            }
          },
          "deprecated": false
         }
        },
        "/v1.0/myorg/reports/{reportKey}/Rebind":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Rebinds the specified report to requested dataset id",
                "operationId":"Reports_RebindReport",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "in":"path",
                        "description":"The report id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Rebind report parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/RebindReportRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        
        "/v1.0/myorg/dashboards":{
            "get":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Gets a list of dashboards",
                "operationId":"Dashboards_GetDashboards",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[

                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Dashboard]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Add a new empty dashboard",
                "operationId":"Dashboards_AddDashboard",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters": [
                {
                  "name": "requestParameters",
                  "description": "Add dashboard parameters",
                  "in": "body",
                  "required": true,
                  "schema": {
                    "$ref": "#/definitions/AddDashboardRequest"
                  }
                }
              ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dashboard"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}":{
            "get":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Get the specified dashboard",
                "operationId":"Dashboards_GetDashboard",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dashboard"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles":{
            "get":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Get tiles in the specified dashboard",
                "operationId":"Dashboards_GetTiles",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Tile]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}":{
            "get":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Get a specified tile in a specified dashboard",
                "operationId":"Dashboards_GetTile",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tileKey",
                        "description":"The tile id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Tile"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}/Clone": {
            "post": {
                "tags": [
                    "Tiles"
                ],
                "summary": "Clones the specified tile",
                "operationId": "Dashboards_CloneTile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tileKey",
                        "description": "The tile id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Clone tile parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CloneTileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tile"
                        }
                    }
                },
                "deprecated": false
            }
        },
        
        "/v1.0/myorg/reports/GenerateToken":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Generate token to create a new report on a given dataset",
                "operationId":"Reports_GenerateTokenForCreate",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"requestParameters",
                        "description":"Generate token parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/GenerateToken":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Generate token to view or edit the specified report",
                "operationId":"Reports_GenerateToken",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Generate token parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/GenerateToken":{
            "post":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Generate token to view the specified dashboard",
                "operationId":"Dashboards_GenerateToken",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Generate token parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}/GenerateToken":{
            "post":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Generate token to view the specified tile",
                "operationId":"Tiles_GenerateToken",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tileKey",
                        "description":"The tile id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Generate token parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated":false
            }
        },
        
        "/v1.0/myorg/groups/{groupId}/datasets":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Returns the datasets",
                "operationId":"Datasets_GetDatasetsInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "description":"The group id",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Dataset]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Post a new entity to datasets",
                "operationId":"Datasets_PostDatasetInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "description":"The group id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"dataset",
                        "in":"body",
                        "description":"Create dataset parameters",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    }
                ],
                "responses":{
                    "201":{
                        "description":"Created",
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    },
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetDatasetByIdInGroup",
                "summary":"Gets the dataset metadata for the specifeid dataset id",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dataset"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_DeleteDatasetByIdInGroup",
                "summary":"Deletes the dataset with the specified id",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/tables":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetTablesInGroup",
                "summary":"Gets all tables within the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Table]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/tables/{tableName}":{
            "put":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_PutTableInGroup",
                "summary":"Updates a schema and metadata for the specified table",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestMessage",
                        "in":"body",
                        "description":"The request message",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/tables/{tableName}/rows":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Posts new data rows into the specified table",
                "operationId":"Datasets_PostRowsInGroup",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "description":"The dataset id",
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestMessage",
                        "in":"body",
                        "description":"The request message",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Datasets"
                ],
                "summary":"Deletes all rows from the specified table",
                "operationId":"Datasets_DeleteRowsInGroup",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tableName",
                        "in":"path",
                        "description":"The table name",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/refreshes":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetRefreshHistoryInGroup",
                "summary":"Gets the dataset refresh history",
                "consumes":[],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"$top",
                        "description":"The requested number of entries in the refresh history, if not supported the default is all available entries",
                        "in":"query",
                        "required":false,
                        "type":"integer"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Refresh]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_RefreshDatasetInGroup",
                "summary":"Start a dataset refresh",
                "consumes":[
                ],
                "produces":[
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/parameters":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetParametersInGroup",
                "summary":"Gets a list of parameters for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[DatasetParameter]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.UpdateParameters":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_UpdateParametersInGroup",
                "summary":"Updates the dataset parameters",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"updateDatasetParametersRequest",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/UpdateDatasetParametersRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/datasources":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetDatasourcesInGroup",
                "summary":"Gets a list of datasource for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Datasource]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.UpdateDatasources":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_UpdateDatasourcesInGroup",
                "summary":"Updates the dataset datasources using the specified datasource selectors",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"updateDatasourcesRequest",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/UpdateDatasourcesRequest"
                        }                        
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.SetAllConnections":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_SetAllDatasetConnectionsInGroup",
                "summary":"Sets all connections for the specified dataset",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"parameters",
                        "in":"body",
                        "description":"The body",
                        "required":true,
                        "schema":{
                            "$ref": "#/definitions/ConnectionDetails"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.BindToGateway":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_BindToGatewayInGroup",
                "summary":"Bind dataset to gateway",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name": "bindToGatewayRequest",
                        "in": "body",
                        "description": "The bind to gateway request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BindToGatewayRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.GetBoundGatewayDatasources":{
            "get":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_GetGatewayDatasourcesInGroup",
                "summary":"Gets a list of bound gateway datasources for the specified dataset",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[GatewayDatasource]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.DiscoverGateways":{
            "get":{
                "tags":[
                    "Gateways"
                ],
                "operationId":"Datasets_DiscoverGatewaysInGroup",
                "summary":"Gets a list of gateways to bind",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
					{
                        "name":"datasetKey",
                        "description":"The dataset id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Gateway]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetKey}/Default.TakeOver":{
            "post":{
                "tags":[
                    "Datasets"
                ],
                "operationId":"Datasets_TakeOverInGroup",
                "summary":"Take Over a dataset",
                "consumes":[],
                "produces":[],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetKey",
                        "in":"path",
                        "description":"The dataset id",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        
        "/v1.0/myorg/groups/{groupId}/imports":{
            "get":{
                "tags":[
                    "Imports"
                ],
                "summary":"Returns a list of imports for the specified group",
                "operationId":"Imports_GetImportsInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Import]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Imports"
                ],
                "summary":"Creates a new import using the specified import info",
                "operationId":"Imports_PostImportInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"datasetDisplayName",
                        "in":"query",
                        "required":true,
                        "description":"The display name of the dataset",
                        "type":"string"
                    },
                    {
                        "name":"nameConflict",
                        "in":"query",
                        "required":false,
                        "description":"Determines what to do if a dataset with the same name already exists",
                        "type":"string"
                    },
                    {
                        "name":"importInfo",
                        "in":"body",
                        "description":"The import to post",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/ImportInfo"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    },
                    "202":{
                        "description":"Accepted",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/groups/{groupId}/imports/{importId}":{
            "get":{
                "tags":[
                    "Imports"
                ],
                "summary":"Gets the import metadata for the specifed import id",
                "operationId":"Imports_GetImportByIdInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"importId",
                        "in":"path",
                        "required":true,
                        "description":"The import id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/groups/{groupId}/imports/createTemporaryUploadLocation":{
            "post":{
                "tags":[
                    "Imports"
                ],
                "summary":"Creates a temporary upload location for large files",
                "operationId":"Imports_CreateTemporaryUploadLocationInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/TemporaryUploadLocation"
                        }
                    }
                }
            }
        },
        
        "/v1.0/myorg/groups/{groupId}/reports":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Gets a list of reports available within the specified group",
                "operationId":"Reports_GetReportsInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Report]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/reports/{reportKey}":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Get the specified report",
                "operationId":"Reports_GetReportInGroup",
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Report"
                        }
                    }
                },
                "deprecated":false
            },
            "delete":{
                "tags":[
                    "Reports"
                ],
                "summary":"Deletes the specified report",
                "operationId":"Reports_DeleteReportInGroup",
                "consumes":[

                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/reports/{reportKey}/Clone":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Clones the specified report",
                "operationId":"Reports_CloneReportInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"reportKey",
                        "description":"The report id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Clone report parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/CloneReportRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Report"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/reports/{reportKey}/Export":{
            "get":{
                "tags":[
                    "Reports"
                ],
                "summary":"Exports the specified report",
                "operationId":"Reports_ExportReportInGroup",
                "consumes":[],
                "produces":[
                    "application/zip"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"reportKey",
                        "in":"path",
                        "required":true,
                        "description":"The report id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200": {
                        "schema": {
                            "type": "file"
                        },
                        "description": "Exported File"
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/reports/{reportKey}/UpdateReportContent": {
         "post": {
          "tags": [
            "Reports"
          ],
          "summary": "Update the report content from a specified source",
          "operationId": "Reports_UpdateReportContentInGroup",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "groupId",
              "in": "path",
              "required": true,
              "description": "The group id",
              "type": "string"
            },
            {
              "name": "reportKey",
              "description": "The report id",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "requestParameters",
              "description": "UpdateReportContent parameters",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateReportContentRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/Report"
              }
            }
          },
          "deprecated": false
          }
        },
        "/v1.0/myorg/groups/{groupId}/reports/{reportKey}/Rebind":{
            "post":{
                "tags":[
                    "Reports"
                ],
                "summary":"Rebinds the specified report to requested dataset id",
                "operationId":"Reports_RebindReportInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[

                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"reportKey",
                        "in":"path",
                        "description":"The report id",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Rebind report parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/RebindReportRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Object"
                        }
                    }
                },
                "deprecated":false
            }
        },
        
        "/v1.0/myorg/groups/{groupId}/dashboards":{
            "get":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Gets a list of dashboards in a group",
                "operationId":"Dashboards_GetDashboardsInGroup",
                "consumes":[

                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Dashboard]]"
                        }
                    }
                },
                "deprecated":false
            },
            "post":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Add a new empty dashboard",
                "operationId":"Dashboards_AddDashboardInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
              "parameters": [
                  {
                    "name":"groupId",
                    "in":"path",
                    "required":true,
                    "description":"The group id",
                    "type":"string"
                  },
                  {
                    "name": "requestParameters",
                    "description": "Add dashboard parameters",
                    "in": "body",
                    "required": true,
                    "schema": {
                      "$ref": "#/definitions/AddDashboardRequest"
                    }
                  }
              ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dashboard"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/dashboards/{dashboardKey}":{
            "get":{
                "tags":[
                    "Dashboards"
                ],
                "summary":"Get the specified dashboard in a group",
                "operationId":"Dashboards_GetDashboardInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Dashboard"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/dashboards/{dashboardKey}/tiles":{
            "get":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Get tiles in the specified dashboard in a group",
                "operationId":"Dashboards_GetTilesInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/ODataResponse[List[Tile]]"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/dashboards/{dashboardKey}/tiles/{tileKey}":{
            "get":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Get a specified tile in a specified dashboard in a group",
                "operationId":"Dashboards_GetTileInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                        "name":"groupId",
                        "in":"path",
                        "required":true,
                        "description":"The group id",
                        "type":"string"
                    },
                    {
                        "name":"dashboardKey",
                        "description":"The dashboard id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"tileKey",
                        "description":"The tile id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Tile"
                        }
                    }
                },
                "deprecated":false
            }
        },
        "/v1.0/myorg/groups/{groupId}/dashboards/{dashboardKey}/tiles/{tileKey}/Clone":{
            "post":{
                "tags":[
                    "Tiles"
                ],
                "summary":"Clones the specified tile",
                "operationId":"Dashboards_CloneTileInGroup",
                "consumes":[
                    "application/json"
                ],
                "produces":[
                    "application/json"
                ],
                "parameters":[
                    {
                      "name":"groupId",
                      "in":"path",
                      "required":true,
                      "description":"The group id",
                      "type":"string"
                    },  
                    {
                      "name": "dashboardKey",
                      "description": "The dashboard id",
                      "in": "path",
                      "required": true,
                      "type": "string"
                    },
                    {
                        "name":"tileKey",
                        "description":"The tile id",
                        "in":"path",
                        "required":true,
                        "type":"string"
                    },
                    {
                        "name":"requestParameters",
                        "description":"Clone tile parameters",
                        "in":"body",
                        "required":true,
                        "schema":{
                            "$ref":"#/definitions/CloneTileRequest"
                        }
                    }
                ],
                "responses":{
                    "200":{
                        "description":"OK",
                        "schema":{
                            "$ref":"#/definitions/Tile"
                        }
                    }
                },
                "deprecated":false
            }
        },
        
        "/v1.0/myorg/groups/{groupId}/reports/GenerateToken":{
            "post":{
                "tags":[
[...]
