{
    "swagger": "2.0",
    "info": {
        "version": "v1.0",
        "title": "Power BI Client"
    },
    "host": "api.powerbi.com",
    "schemes": [
        "https"
    ],
    "consumes": [

    ],
    "produces": [

    ],
    "paths": {
        "/v1.0/myorg/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasets from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDatasets",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Datasets"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "name": "SalesMarketing",
                                            "addRowsAPIEnabled": false,
                                            "configuredBy": "john@contoso.com",
                                            "isRefreshable": true,
                                            "isEffectiveIdentityRequired": false,
                                            "isEffectiveIdentityRolesRequired": false,
                                            "isOnPremGatewayRequired": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Creates a new dataset on **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets.<br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PostDataset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dataset",
                        "in": "body",
                        "description": "Dataset definition to create",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateDatasetRequest"
                        }
                    },
                    {
                        "name": "defaultRetentionPolicy",
                        "description": "The default retention policy",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "None",
                            "basicFIFO"
                        ],
                        "x-ms-enum": {
                            "name": "DefaultRetentionPolicy",
                            "modelAsExtensible": true,
                            "values": [
                                {
                                    "value": "None",
                                    "description": "None"
                                },
                                {
                                    "value": "basicFIFO",
                                    "description": "basicFIFO"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "x-ms-examples": {
                    "Push example": {
                        "parameters": {
                            "defaultRetentionPolicy": "basicFIFO",
                            "dataset": {
                                "name": "SalesMarketing",
                                "defaultMode": "Push",
                                "tables": [
                                    {
                                        "name": "Product",
                                        "columns": [
                                            {
                                                "name": "ProductID",
                                                "dataType": "Int64"
                                            },
                                            {
                                                "name": "Name",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "Category",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "IsCompete",
                                                "dataType": "bool"
                                            },
                                            {
                                                "name": "ManufacturedOn",
                                                "dataType": "DateTime"
                                            },
                                            {
                                                "name": "Sales",
                                                "dataType": "Int64",
                                                "formatString": "Currency"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "201": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "defaultRetentionPolicy": "basicFIFO"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDataset",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "addRowsAPIEnabled": false,
                                    "configuredBy": "john@contoso.com",
                                    "isRefreshable": true,
                                    "isEffectiveIdentityRequired": true,
                                    "isEffectiveIdentityRolesRequired": true,
                                    "isOnPremGatewayRequired": false
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Deletes the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DeleteDataset",
                "consumes": [

                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/executeQueries": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Executes DAX queries against the provided dataset. The dataset may reside in **\"My Workspace\"** or any other [new workspace](/power-bi/collaborate-share/service-new-workspaces) (V2 workspace).",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h2>Restrictions</h2><ul><li>This operation is only supported for datasets in a [new workspace](/power-bi/collaborate-share/service-new-workspaces) (V2 workspace)</li><li>The user issuing the request needs to have [Build permissions for the dataset](power-bi/connect-data/service-datasets-build-permissions).</li><li>The [Allow XMLA endpoints and Analyze in Excel with on-premises datasets](power-bi/admin/service-premium-connect-tools) tenant setting needs to be enabled.</li><li>Datasets hosted in AsAzure or live connected to an on premise Analysis Services model are not supported.</li><li>Only one query returning one table of maximum 100k rows is allowed. Specifying more than one query will return an error.</li></ul><h2>Notes</h2><ul><li>Issuing a query that returns more than one table or more than 100k rows will return limited data and an error in the response. The response HTTP status will be OK (200).</li><li>DAX query failures will be returned with a failure HTTP status (400).</li><li>Columns that are fully qualified in the query will be returned with the fully qualified name, for example, Table[Column]. Columns that are renamed or created in the query will be returned within square bracket, for example, [MyNewColumn].</li><li>The following errors may be contained in the response: DAX query failures, more than one result table in a query, more than 100k rows in a query result.</li></ul>",
                "operationId": "Datasets_ExecuteQueries",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "requestMessage",
                        "description": "The request message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DatasetExecuteQueriesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DatasetExecuteQueriesResponse"
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Execute queries example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "requestMessage": {
                                "queries": [
                                    {
                                        "query": "EVALUATE VALUES(MyTable[Column])"
                                    }
                                ],
                                "serializerSettings": {
                                    "includeNulls": true
                                }
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "results": [
                                        {
                                            "tables": [
                                                {
                                                    "rows": [
                                                        {
                                                            "MyTable[Year]": 2010,
                                                            "MyTable[Quarter]": "Q1"
                                                        },
                                                        {
                                                            "MyTable[Year]": 2010,
                                                            "MyTable[Quarter]": "Q2"
                                                        },
                                                        {
                                                            "MyTable[Year]": 2011,
                                                            "MyTable[Quarter]": "Q1"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/tables": {
            "get": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Returns a list of tables tables within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetTables",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tables"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/tables/{tableName}": {
            "put": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Updates the metadata and schema for the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PutTable",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "Table name and columns to update existing table",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Table"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Table"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "tableName": "NewProduct",
                                "columns": [
                                    {
                                        "name": "ProductID",
                                        "dataType": "Int64"
                                    },
                                    {
                                        "name": "Name",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "Category",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "IsCompete",
                                        "dataType": "bool"
                                    },
                                    {
                                        "name": "ManufacturedOn",
                                        "dataType": "DateTime"
                                    },
                                    {
                                        "name": "NewColumn",
                                        "dataType": "string"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "name": "NewProduct"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/tables/{tableName}/rows": {
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Adds new data rows to the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**REST API Limitations:** See [Power BI REST API limitations](https://msdn.microsoft.com/library/dn950053.aspx). <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PostRows",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "required": true,
                        "description": "The dataset ID",
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "The request message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostRowsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "rows": [
                                    {
                                        "ProductID": 1,
                                        "Name": "Adjustable Race",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 2,
                                        "Name": "LL Crankarm",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 3,
                                        "Name": "HL Mountain Frame - Silver",
                                        "Category": "Bikes",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Deletes all rows from the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: this API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DeleteRows",
                "consumes": [

                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/refreshes": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh history of the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).<h3>Limitations</h3>OneDrive refreshes are not returned.",
                "operationId": "Datasets_GetRefreshHistory",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "description": "The requested number of entries in the refresh history. If not provided, the default is all available entries.",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Refreshes"
                        }
                    }
                },
                "x-ms-examples": {
                    "in progress refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "status": "Unknown",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "completed refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "status": "Completed",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Failed refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "serviceExceptionJson": "{\"errorCode\":\"ModelRefreshFailed_CredentialsNotSpecified\"}",
                                            "status": "Failed",
                                            "requestId": "11bf290a-346b-48b7-8973-c5df149337ff"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Triggers a refresh for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>In Shared capacities this call is limited to eight times per day (including refreshes executed via Scheduled Refresh)<br/>In Premium capacities this call is not limited in number of times per day, but only by the available resources in the capacity, hence if overloaded, the refresh execution may be throttled until the load is reduced. If this throttling exceeds 1 hour, the refresh will fail.<br/><br/>**Required scope**: Dataset.ReadWrite.All<br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_RefreshDataset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "refreshRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "refreshRequest": {
                                "notifyOption": "MailOnFailure"
                            }
                        },
                        "responses": {
                            "202": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/refreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule of the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetRefreshSchedule",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RefreshSchedule"
                        }
                    }
                },
                "x-ms-examples": {
                    "Refresh Schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [ "Sunday", "Friday", "Saturday" ],
                                    "times": [ "05:00", "11:30", "17:30", "23:00" ],
                                    "enabled": true,
                                    "localTimeZoneId": "UTC",
                                    "notifyOption": "MailOnFailure"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>This operation is only supported for the dataset owner.<br/>A request that disables the refresh schedule should contain no other changes.<br/>The days array should not be set to empty array.<br/>The times may be set to empty array (in which case Power BI will use a default single time per day).<br/>The limit on number of time slots per day depends on the type of capacity used (Premium or Shared), see [What is Microsoft Power BI Premium](https://docs.microsoft.com/en-us/power-bi/service-premium).<br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_UpdateRefreshSchedule",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasetModelRefreshScheduleRequest",
                        "description": "Update Refresh Schedule parameters, by specifying all or some of the parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RefreshScheduleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "change notification option": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "notifyOption": "NoNotification"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "change days and times": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "days": [ "Sunday", "Tuesday", "Friday", "Saturday" ],
                                    "times": [ "07:00", "11:30", "16:00", "23:30" ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "update times": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "times": [ "08:00", "16:00" ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "disable scheduled refresh": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "enabled": false
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/directQueryRefreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule of a specified DirectQuery or LiveConnection dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDirectQueryRefreshSchedule",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DirectQueryRefreshSchedule"
                        }
                    }
                },
                "x-ms-examples": {
                    "By Days Schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [ "Sunday", "Friday", "Saturday" ],
                                    "times": [ "05:00", "11:30", "17:30", "23:00" ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    },
                    "By Frequency Schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "frequency": 15,
                                    "days": [],
                                    "times": [],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for the specified DirectQuery or LiveConnection dataset from **\"My Workspace\"**.",
                "description": "<br/>This operation is only supported for the dataset owner.<br/>A request should contain either a combination of days and times  (setting times is optional, otherwise a default single time per day is used) or a valid frequency, but not both.<br/>Setting frequency will automatically truncate the days and times arrays.<br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_UpdateDirectQueryRefreshSchedule",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasetDQRefreshScheduleRequest",
                        "description": "Patch DirectQuery or LiveConnection Refresh Schedule parameters, by specifying all or some of the parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DirectQueryRefreshScheduleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "change to frequency based schedule": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "frequency": 30
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "switch to days and times based schedule": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "days": [ "Sunday", "Tuesday", "Friday", "Saturday" ],
                                    "times": [ "07:00", "11:30", "16:00", "23:30" ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "update the times of existing days based schedule": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "times": [ "07:00", "16:30", "23:30" ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "disable scheduled refresh": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "enabled": false
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/parameters": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of parameters for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).<h2>Restrictions</h2>Datasets with SQL, Oracle, Teradata & SapHana Direct Query connections are not supported.<br/>",
                "operationId": "Datasets_GetParameters",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MashupParameters"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "name": "ServerName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTest.database.windows.net"
                                        },
                                        {
                                            "name": "DatabaseName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTestDB"
                                        },
                                        {
                                            "name": "FromDate",
                                            "type": "DateTime",
                                            "isRequired": true,
                                            "currentValue": "2/8/2002 12:00:00 AM"
                                        },
                                        {
                                            "name": "FilterBlanks",
                                            "type": "Logical",
                                            "isRequired": true,
                                            "currentValue": "TRUE"
                                        },
                                        {
                                            "name": "MaxId",
                                            "type": "Number",
                                            "isRequired": true,
                                            "currentValue": "77"
                                        },
                                        {
                                            "name": "AnyParam",
                                            "type": "Any",
                                            "isRequired": true,
                                            "currentValue": "uu63"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.UpdateParameters": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the parameters values for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note:**<ul><li>When using this API, it's recommended to use [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata).</li><li>This API doesn't support datasets created using the public XML/A endpoint. To make changes to these datasources, the admin must use the Analysis Services Client Library for Tabular Object Model (TOM).</li></ul><br/>**Important**: The dataset must be refreshed for new parameters values to be applied. If you're not using [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata), wait 30 minutes for the update parameters operation to complete before refreshing.<br/><br/>**Required scope**: Dataset.ReadWrite.All<br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h2>Restrictions</h2><ul><li>This operation is only supported for the dataset owner</li><li>All parameters must exist in the dataset. Names are case-sensitive.</li><li>Direct Query connections are supported only with [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata).</li><li>Datasets with Analysis Services Live connections are not supported.</li><li>Maximum of 100 parameters in a request is allowed.</li><li>Values should be of expected type.</li><li>An empty value is not permitted for the IsRequired parameter.</li><li>List cannot be empty or include multiple occurrences of same parameter.</li><li>Parameters of types 'Any' or 'Binary' cannot be set.</li></ul>",
                "operationId": "Datasets_UpdateParameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateMashupParametersRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateMashupParametersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateMashupParametersRequest": {
                                "updateDetails": [
                                    {
                                        "name": "DatabaseName",
                                        "newValue": "NewDB"
                                    },
                                    {
                                        "name": "MaxId",
                                        "newValue": "5678"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/datasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasources for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDatasources",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Datasources"
                        }
                    }
                },
                "x-ms-examples": {
                    "Analysis Services": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "AnalysisServices",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Azure Analysis Services": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "AnalysisServices",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SQL": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Azure SQL": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Excel": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "File",
                                            "connectionDetails": {
                                                "path": "c:\\users\\username\\documents\\orders1.xlsx"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "OData": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "OData",
                                            "connectionDetails": {
                                                "url": "http://services.odata.org/MyOdata/MyOdata.svc"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SharePoint": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "SharePointList",
                                            "connectionDetails": {
                                                "url": "https://microsoft.sharepoint.com/hello/myproj/"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SAP HANA": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                "value": [
                                    {
                                        "datasourceType": "SAPHana",
                                        "connectionDetails": {
                                            "server": "My-SapHana-Server",
                                            "database": "My-SapHana-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                        "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                    }
                                ]
                            }
                        }
                    },
                    "Oracle": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                "value": [
                                    {
                                        "datasourceType": "Oracle",
                                        "connectionDetails": {
                                            "server": "My-Oracle-Server",
                                            "database": "My-Oracle-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                        "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                    }
                                ]
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.UpdateDatasources": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the datasources of the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note:**<ul><li>When using this API, it's recommended to use [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata).</li><li>This API doesn't support datasets created using the public XML/A endpoint. To make changes to these datasources, the admin must use the Analysis Services Client Library for Tabular Object Model (TOM).</li></ul><br/>**Important**:<ul><li>The original datasource and the new datasource must have the exact same schema.</li><li>For cached models, the dataset must be refreshed to get the data from the new data sources. If you're not using [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata), wait 30 minutes for the update datasources operation to complete before refreshing.</li></ul>**Required scope**: Dataset.ReadWrite.All<br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).<h2>Restrictions</h2><ul><li>This operation is only supported for the dataset owner</li><li>Update datasources supports the following datasource types:<ul><li>SQL Server</li><li>Azure SQL Server</li><li>Analysis Services</li><li>Azure Analysis Services</li><li>Azure Synapse</li><li>OData Feed</li><li>SharePoint</li><li>Teradata</li><li>SapHana</li></ul>For other datasource types, use [Update Parameters](/rest/api/power-bi/datasets/updateparameters)</li><li>Changing datasource type is not supported.</li><li>Datasources that contain parameters on the connection string are not supported.</li><li>If you are not using [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata), updating datasources which are part of merged or joined tables are not supported. If you are using [enhanced dataset metadata](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata), updating datasources which are part of merged or joined tables is supported. However, in an Advanced Query referencing multiple datasources, only the first datasource can be updated. To overcome this limitation, define the datasource as a parameter and then use [Update Parameters](https://docs.microsoft.com/rest/api/power-bi/datasets/updateparameters).</li></ul>",
                "operationId": "Datasets_UpdateDatasources",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateDatasourcesRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDatasourcesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasourcesRequest": {
                                "updateDetails": [
                                    {
                                        "datasourceSelector": {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-Sql-Server",
                                                "database": "My-Sql-Database"
                                            }
                                        },
                                        "connectionDetails": {
                                            "server": "New-Sql-Server",
                                            "database": "New-Sql-Database"
                                        }
                                    },
                                    {
                                        "datasourceSelector": {
                                            "datasourceType": "OData",
                                            "connectionDetails": {
                                                "url": "http://services.odata.org/V4/Northwind/Northwind.svc"
                                            }
                                        },
                                        "connectionDetails": {
                                            "url": "http://services.odata.org/V4/Odata/Northwind.svc"
                                        }
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.SetAllConnections": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates all connections for the specified dataset from **\"My Workspace\"**. This API only supports SQL DirectQuery datasets.<h3>Note: This API is deprecated and no longer supported</h3>",
                "description": "Following the 2020 Power BI Desktop release, the Power BI dataset was updated. This API no longer works with the new dataset ([enhanced metadata dataset](https://docs.microsoft.com/power-bi/connect-data/desktop-enhanced-dataset-metadata)). Instead of this API, use the following APIs:<ul><li>[Update Datasources In Group](/rest/api/power-bi/datasets/updatedatasourcesingroup) - To update connection details for SQL, AS, OData Feed, and SharePoint.</li><li>[Update Parameters In Group](/rest/api/power-bi/datasets/updateparametersingroup) - To update connection details for other datasource types.</li></ul>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_SetAllDatasetConnections",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "description": "The body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConnectionDetails"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "parameters": {
                                "connectionString": "data source=MyServer.database.windows.net;initial catalog=MyDatabase;persist security info=True;encrypt=True;trustservercertificate=False"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.BindToGateway": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Binds the specified dataset from **\"My Workspace\"** to the specified gateway, optionally with a given set of datasource IDs. This only supports the on-premises data gateway.",
                "description": "<br/>**Note:** API caller principal should be added as datasource user on the gateway.<br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_BindToGateway",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bindToGatewayRequest",
                        "in": "body",
                        "description": "The bind to gateway request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BindToGatewayRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example without datasourceIds": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "bindToGatewayRequest": {
                                "gatewayObjectId": "1f69e798-5852-4fdd-ab01-33bb14b6e934"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "example with datasourceIds": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "bindToGatewayRequest": {
                                "gatewayObjectId": "1f69e798-5852-4fdd-ab01-33bb14b6e934",
                                "datasourceObjectIds": [ "dc2f2dac-e5e2-4c37-af76-2a0bc10f16cb", "3bfe5d33-ab7d-4d24-b0b5-e2bb8eb01cf5" ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.GetBoundGatewayDatasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of gateway datasources for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: Use the new [Dataset - Get Datasources](/rest/api/power-bi/datasets/getdatasources) API instead.<br/><br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetGatewayDatasources",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GatewayDatasources"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "16a54ccd-620d-4af3-9197-0b8c779a9a6d",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "datasourceType": "Sql",
                                            "connectionDetails": "{\"server\":\"MyServer.database.windows.net\",\"database\":\"MyDatabase\"}"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetId}/Default.DiscoverGateways": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of gateways which the specified dataset from **\"My Workspace\"** can be bound to.",
                "description": "This API is relevant only for datasets that have at least one on-premises connection. <br/>For datasets with cloud-only connections, it will return an empty list. <br/><br/>**Required scope**: Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DiscoverGateways",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Gateways"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "1f69e798-5852-4fdd-ab01-33bb14b6e934",
                                            "name": "ContosoGateway",
                                            "type": "Resource",
                                            "publicKey": {
                                                "exponent": "AQAB",
                                                "modulus": "o6j2....cLk="
                                            }
                                        }

                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/RefreshUserPermissions": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Refreshes user permissions in Power BI.",
                "description": "When a user is granted permissions to a workspace, app, or artifact, it might not be immediately available through API calls.<br/>This operation refreshes user permissions and makes sure the user permissions are fully updated.<br/><br/>**Important:**<ul><li>Make the *refresh user permissions* call, before any other API calls.</li><li>It takes about two minutes for the permissions to get refreshed. Before calling other APIs, wait for two minutes.</li></ul>**Required scope:** Workspace.Read.All  or Workspace.ReadWrite.All<br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h2>Restrictions</h2> User can call this API once per hour.",
                "operationId": "Users_RefreshUserPermissions",
                "consumes": [
                ],
                "produces": [
                ],
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                        },
                        "responses": {
                            "200": {
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v1.0/myorg/imports": {
            "get": {
                "tags": [
                    "Imports"
                ],
                "summary": "Returns a list of imports from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Imports_GetImports",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Imports"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "82d9a37a-2b45-4221-b012-cb109b8e30c7",
                                            "importState": "Succeeded",
                                            "createdDateTime": "2018-05-08T14:56:18.477Z",
                                            "updatedDateTime": "2018-05-08T14:56:18.477Z",
                                            "name": "SalesMarketing",
                                            "connectionType": "import",
                                            "source": "Upload",
                                            "datasets": [
                                                {
                                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                                    "name": "SalesMarketing",
                                                    "webUrl": "https://app.powerbi.com/datasets/cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                                                }
                                            ],
                                            "reports": [
                                                {
                                                    "id": "5b218778-e7a5-4d73-8187-f10824047715",
                                                    "name": "SalesMarketing",
                                                    "webUrl": "https://app.powerbi.com/reports/5b218778-e7a5-4d73-8187-f10824047715",
                                                    "embedUrl": "https://app.powerbi.com/reportEmbed?reportId=5b218778-e7a5-4d73-8187-f10824047715"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Imports"
                ],
                "summary": "Creates new content on **\"My Workspace\"** from PBIX (Power BI Desktop), JSON, XLSX (Excel), RDL or file path in OneDrive for Business.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h3>Notes</h3><ul><li>To import a file, request Headers should include **Content-Type: multipart/form-data** with the file [encoded as form data](https://www.w3.org/TR/html401/interact/forms.html) in the request body.</li><li>To import an XLSX (Excel) file from OneDrive for Business, request headers should include **Content-Type: application/json** with [ImportInfo](/rest/api/power-bi/imports/postimport#importinfo) in the request body.</li><li>To import an RDL file, in the **DatasetDisplayName** property, include **.rdl** to define the file type.</li><li>Importing a .pbix file from OneDrive is not supported.</li><li>To import large .pbix files, between 1 GB and 10 GB, see [Create Temporary Upload Location](/rest/api/power-bi/imports/createtemporaryuploadlocation). This is supported only for workspaces on premium capacity.</li></ul><h3>Limitations</h3>Post import is not supported for dataflows with service principal.",
                "operationId": "Imports_PostImport",
                "consumes": [
                    "application/json",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetDisplayName",
                        "in": "query",
                        "required": true,
                        "description": "The display name of the dataset, should include file extension. Not supported when importing from OneDrive for Business.",
                        "type": "string"
                    },
                    {
                        "name": "nameConflict",
                        "in": "query",
                        "required": false,
                        "description": "Determines what to do if a dataset with the same name already exists. Default value is 'Ignore'.<br/>Only Abort and Overwrite are supported with Rdl files.",
                        "type": "string",
                        "enum": [
                            "Ignore",
                            "Abort",
                            "Overwrite",
                            "CreateOrOverwrite",
                            "GenerateUniqueName"
                        ],
                        "x-ms-enum": {
                            "name": "ImportConflictHandlerMode",
                            "modelAsExtensible": true,
                            "values": [
                                {
                                    "value": "Ignore",
                                    "description": "If dataset with the same name already exists, Import operation will create a new dataset with the same name."
                                },
                                {
                                    "value": "Abort",
                                    "description": "If dataset with the same name already exists, Import operation will be aborted."
                                },
                                {
                                    "value": "Overwrite",
                                    "description": "If dataset with the same name already exists, Import operation will replace the existing dataset with the new one.<br/>Import operation will fail if there is no conflict or if there are more than one datasets with the same name."
                                },
                                {
                                    "value": "CreateOrOverwrite",
                                    "description": "If dataset with the same name already exists, Import operation will replace the existing dataset with the new one.<br/>Import operation will fail if there are more than one datasets with the same name."
                                },
                                {
                                    "value": "GenerateUniqueName",
                                    "description": "If a dataflow with the same name already exists, Import operation will generate a new unique name for the dataflow."
                                }
                            ]
                        }
                    },
                    {
                        "name": "skipReport",
                        "in": "query",
                        "required": false,
                        "description": "Determines whether to skip report import, if specified value must be 'true'. Only supported for PBIX files.",
                        "type": "boolean"
                    },
                    {
                        "name": "overrideReportLabel",
                        "in": "query",
                        "required": false,
                        "description": "Determines whether to override existing label on report during republish of PBIX file, service default value is true.",
                        "type": "boolean"
                    },
                    {
                        "name": "overrideModelLabel",
                        "in": "query",
                        "required": false,
                        "description": "Determines whether to override existing label on model during republish of PBIX file, service default value is true.",
                        "type": "boolean"
                    },
                    {
                        "name": "importInfo",
                        "in": "body",
                        "description": "The import to post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    }
                },
                "x-ms-examples": {
                    "Post import example": {
                        "parameters": {
                            "consumes": "multipart/form-data;",
                            "boundary": "f05e5244-f876-43b9-bc87-d71598f6b32a",
                            "paramType": "form",
                            "datasetDisplayName": "MyReport",
                            "nameConflict": "Ignore",
                            "importInfo": {
                                "value": "--f05e5244-f876-43b9-bc87-d71598f6b32a Content-Disposition: form-data AA...ZZ --f05e5244-f876-43b9-bc87-d71598f6b32a--"
                            }
                        },
                        "responses": {
                            "202": {
                                "body": {
                                    "id": "d02b8896-e247-4d83-ae5a-014028cb0665"
                                }
                            }
                        }
                    },
                    "Post import with skipReport example": {
                        "parameters": {
                            "consumes": "multipart/form-data;",
                            "boundary": "f05e5244-f876-43b9-bc87-d71598f6b32a",
                            "paramType": "form",
                            "datasetDisplayName": "MyReport",
                            "nameConflict": "Ignore",
                            "skipReport": true,
                            "overrideReportLabel": true,
                            "overrideModelLabel": true,
                            "importInfo": {
                                "value": "--f05e5244-f876-43b9-bc87-d71598f6b32a Content-Disposition: form-data AA...ZZ --f05e5244-f876-43b9-bc87-d71598f6b32a--"
                            }
                        },
                        "responses": {
                            "202": {
                                "body": {
                                    "id": "d02b8896-e247-4d83-ae5a-014028cb0665"
                                }
                            }
                        }
                    },
                    "Import dataflow example": {
                        "parameters": {
                            "consumes": "multipart/form-data;",
                            "boundary": "f05e5244-f876-43b9-bc87-d71598f6b32a",
                            "paramType": "form",
                            "datasetDisplayName": "model.json",
                            "nameConflict": "Abort",
                            "importInfo": {
                                "value": "--f05e5244-f876-43b9-bc87-d71598f6b32a Content-Disposition: form-data name=model.json; filename=model.json Content-Type: application/json [Contents of Model JSON Encoded] --f05e5244-f876-43b9-bc87-d71598f6b32a--"
                            }
                        },
                        "responses": {
                            "202": {
[...]
