{
    "swagger": "2.0",
    "info": {
        "version": "v1.0",
        "title": "Power BI Client"
    },
    "host": "api.powerbi.com",
    "schemes": [
        "https"
    ],
    "consumes": [

    ],
    "produces": [

    ],
    "paths": {
        "/v1.0/myorg/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasets from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDatasets",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Dataset]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "name": "SalesMarketing",
                                            "addRowsAPIEnabled": false,
                                            "configuredBy": "john@contoso.com",
                                            "isRefreshable": true,
                                            "isEffectiveIdentityRequired": false,
                                            "isEffectiveIdentityRolesRequired": false,
                                            "isOnPremGatewayRequired": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Creates a new dataset on **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PostDataset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dataset",
                        "in": "body",
                        "description": "Dataset defenition to create",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    },
                    "202": {
                        "description": "Accepted. The request was accepted and dataset creation is in progress.",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "Push example": {
                        "parameters": {
                            "dataset": {
                                "name": "SalesMarketing",
                                "defaultMode": "Push",
                                "tables": [
                                    {
                                        "name": "Product",
                                        "columns": [
                                            {
                                                "name": "ProductID",
                                                "dataType": "Int64"
                                            },
                                            {
                                                "name": "Name",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "Category",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "IsCompete",
                                                "dataType": "bool"
                                            },
                                            {
                                                "name": "ManufacturedOn",
                                                "dataType": "DateTime"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "201": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "defaultRetentionPolicy": "basicFIFO"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDatasetById",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "addRowsAPIEnabled": false,
                                    "configuredBy": "john@contoso.com",
                                    "isRefreshable": true,
                                    "isEffectiveIdentityRequired": true,
                                    "isEffectiveIdentityRolesRequired": true,
                                    "isOnPremGatewayRequired": false
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Deletes the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DeleteDatasetById",
                "consumes": [

                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables": {
            "get": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Returns a list of tables tables within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetTables",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Table]]"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables/{tableName}": {
            "put": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Updates the metadata and schema for the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PutTable",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "Table name and columns to update existing table",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "tableName": "NewProduct",
                                "columns": [
                                    {
                                        "name": "ProductID",
                                        "dataType": "Int64"
                                    },
                                    {
                                        "name": "Name",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "Category",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "IsCompete",
                                        "dataType": "bool"
                                    },
                                    {
                                        "name": "ManufacturedOn",
                                        "dataType": "DateTime"
                                    },
                                    {
                                        "name": "NewColumn",
                                        "dataType": "string"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "name": "NewProduct"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/tables/{tableName}/rows": {
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Adds new data rows to the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: This API supports only Push datasets. <br/><br/>**REST API Limitations:** See [Power BI REST API limitations](https://msdn.microsoft.com/library/dn950053.aspx). <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_PostRows",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "description": "The dataset id",
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "The request message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "rows": [
                                    {
                                        "ProductID": 1,
                                        "Name": "Adjustable Race",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 2,
                                        "Name": "LL Crankarm",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 3,
                                        "Name": "HL Mountain Frame - Silver",
                                        "Category": "Bikes",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Deletes all rows from the specified table within the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: this API supports only Push datasets. <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DeleteRows",
                "consumes": [

                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/refreshes": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh history of the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetRefreshHistory",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "description": "The requested number of entries in the refresh history. If not provided, the default is all available entries.",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Refresh]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "in progress refresh example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "Id": "823456",
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "status": "Unknown"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "completed refresh example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "Id": "823456",
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "status": "Completed"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Triggers a refresh for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_RefreshDataset",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "refreshRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/RefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "refreshRequest": {
                                "notifyOption": "MailOnFailure"
                            }
                        },
                        "responses": {
                            "202": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/parameters": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of parameters for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).<h2>Restrictions</h2>Datasets with SQL, Oracle, Teradata & SapHana Direct Query connections are not supported.<br/>",
                "operationId": "Datasets_GetParameters",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[DatasetParameter]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "name": "ServerName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTest.database.windows.net"
                                        },
                                        {
                                            "name": "DatabaseName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTestDB"
                                        },
                                        {
                                            "name": "FromDate",
                                            "type": "DateTime",
                                            "isRequired": true,
                                            "currentValue": "2/8/2002 12:00:00 AM"
                                        },
                                        {
                                            "name": "FilterBlanks",
                                            "type": "Logical",
                                            "isRequired": true,
                                            "currentValue": "TRUE"
                                        },
                                        {
                                            "name": "MaxId",
                                            "type": "Number",
                                            "isRequired": true,
                                            "currentValue": "77"
                                        },
                                        {
                                            "name": "AnyParam",
                                            "type": "Any",
                                            "isRequired": true,
                                            "currentValue": "uu63"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.UpdateParameters": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the parameters values for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Important**: The dataset must be refreshed for new parameters values to be applied. Wait 30 minutes for the update parameters operation to complete before refreshing.<br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h2>Restrictions</h2><ul><li>All parameters must exist in the dataset. Names are case-sensitive. </li><li>Datasets with SQL, Oracle, Teradata & SapHana Direct Query connections are not supported. </li><li>Datasets with Analysis Services Live connections are not supported. </li><li> Maximum of a 100 parameters in request is allowed. </li><li> Values should be of expected Type. </li><li> Cannot pass empty value to an IsRequired parameter. </li><li> List cannot be empty or include multiple occurrences of same parameter. </li><li> Parameters of types 'Any' or 'Binary' cannot be set. </li></ul>",
                "operationId": "Datasets_UpdateParameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateDatasetParametersRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDatasetParametersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetParametersRequest": {
                                "updateDetails": [
                                    {
                                        "name": "DatabaseName",
                                        "newValue": "NewDB"
                                    },
                                    {
                                        "name": "MaxId",
                                        "newValue": "5678"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/datasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasources for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetDatasources",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Datasource]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "direct query model example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "name": "301",
                                            "connectionString": "data source=MyServer.database.windows.net;initial catalog=MyDatabase;persist security info=True;encrypt=True;trustservercertificate=False",
                                            "datasourceType": "Sql",
                                            "datasourceId": "16a54ccd-620d-4af3-9197-0b8c779a9a6d",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "connectionDetails": {
                                                "server": "MyServer.database.windows.net",
                                                "database": "MyDatabase"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "cached model example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "AnalysisServices",
                                            "datasourceId": "f8c56590-43cb-43bf-8daa-233ba2520f55",
                                            "gatewayId": "1f69e798-5852-4fdd-ab01-33bb14b6e934",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            }
                                        },
                                        {
                                            "datasourceType": "Web",
                                            "datasourceId": "96e4bb31-7b77-4b6d-8483-d76855639a23",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "connectionDetails": {
                                                "url": "http://myWebSource.com"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.UpdateDatasources": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the datasources of the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Important**:<ul><li>The original datasource and the new datasource must have the exact same schema.</li><li>For cached models, the dataset must be refreshed to get the data from the new data sources. Wait 30 minutes for the update datasources operation to complete before refreshing.</li></ul><br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h2>Restrictions</h2><ul><li>Update datasources supports SQL Server, Azure SQL Server, Analysis Services, Azure Analysis Services, OData Feed, and SharePoint datasources. For other datasource types, use [Update Parameters](/rest/api/power-bi/datasets/updateparameters) </li><li>Changing datasource type is not supported. </li><li>Datasources that contain parameters on the connection string are not supported. </li><li>Datasources which are part of Merged or Joined tables are not supported. </li></ul>",
                "operationId": "Datasets_UpdateDatasources",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateDatasourcesRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDatasourcesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasourcesRequest": {
                                "updateDetails": [
                                    {
                                        "datasourceSelector": {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-Sql-Server",
                                                "database": "My-Sql-Database"
                                            }
                                        },
                                        "connectionDetails": {
                                            "server": "New-Sql-Server",
                                            "database": "New-Sql-Database"
                                        }
                                    },
                                    {
                                        "datasourceSelector": {
                                            "datasourceType": "OData",
                                            "connectionDetails": {
                                                "url": "http://services.odata.org/V4/Northwind/Northwind.svc"
                                            }
                                        },
                                        "connectionDetails": {
                                            "url": "http://services.odata.org/V4/Odata/Northwind.svc"
                                        }
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.SetAllConnections": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates all connections for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**:<ul><li>To update connection details for SQL, AS, OData Feed, and SharePoint, use [Update Datasources](/rest/api/power-bi/datasets/updatedatasources). For other datasource types, use [Update Parameters](/rest/api/power-bi/datasets/updateparameters).</li><li>This API only supports SQL DirectQuery datasets.</li></ul><br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_SetAllDatasetConnections",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "description": "The body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConnectionDetails"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "parameters": {
                                "connectionString": "data source=MyServer.database.windows.net;initial catalog=MyDatabase;persist security info=True;encrypt=True;trustservercertificate=False"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.BindToGateway": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Binds the specified dataset from **\"My Workspace\"** to the specified gateway. This only supports the On-Premises Data Gateway.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_BindToGateway",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "description": "The dataset id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bindToGatewayRequest",
                        "in": "body",
                        "description": "The bind to gateway request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BindToGatewayRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "bindToGatewayRequest": {
                                "gatewayObjectId": "1f69e798-5852-4fdd-ab01-33bb14b6e934"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.GetBoundGatewayDatasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of gateway datasources for the specified dataset from **\"My Workspace\"**.",
                "description": "<br/>**Note**: Use the new [Dataset - Get Datasources](/rest/api/power-bi/datasets/getdatasources) API instead.<br/><br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_GetGatewayDatasources",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[GatewayDatasource]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "16a54ccd-620d-4af3-9197-0b8c779a9a6d",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "datasourceType": "Sql",
                                            "connectionDetails": "{\"server\":\"MyServer.database.windows.net\",\"database\":\"MyDatabase\"}"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/datasets/{datasetKey}/Default.DiscoverGateways": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of gateways which the specified dataset from **\"My Workspace\"** can be bound to.",
                "description": "This API is relevant only for datasets that have at least one on-premises connection. <br/>For datasets with cloud-only connections, it will return an empty list. <br/><br/>**Required scope**: Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Datasets_DiscoverGateways",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Gateway]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "datasetKey": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "1f69e798-5852-4fdd-ab01-33bb14b6e934",
                                            "name": "ContosoGateway",
                                            "type": "Resource",
                                            "publicKey": {
                                                "exponent": "AQAB",
                                                "modulus": "o6j2....cLk="
                                            }
                                        }

                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v1.0/myorg/imports": {
            "get": {
                "tags": [
                    "Imports"
                ],
                "summary": "Returns a list of imports from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Imports_GetImports",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Import]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "82d9a37a-2b45-4221-b012-cb109b8e30c7",
                                            "importState": "Succeeded",
                                            "createdDateTime": "2018-05-08T14:56:18.477Z",
                                            "updatedDateTime": "2018-05-08T14:56:18.477Z",
                                            "name": "SalesMarketing",
                                            "connectionType": "import",
                                            "source": "Upload",
                                            "datasets": [
                                                {
                                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                                    "name": "SalesMarketing",
                                                    "webUrl": "https://app.powerbi.com/datasets/cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                                                }
                                            ],
                                            "reports": [
                                                {
                                                    "id": "5b218778-e7a5-4d73-8187-f10824047715",
                                                    "name": "SalesMarketing",
                                                    "webUrl": "https://app.powerbi.com/reports/5b218778-e7a5-4d73-8187-f10824047715",
                                                    "embedUrl": "https://app.powerbi.com/reportEmbed?reportId=5b218778-e7a5-4d73-8187-f10824047715"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Imports"
                ],
                "summary": "Creates new content on **\"My Workspace\"** from .pbix, Excel or file path in OneDrive for Business.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app). <h3>Notes</h3><ul><li>To import a file, request Headers should include **Content-Type: multipart/form-data** with the file [encoded as form data](https://www.w3.org/TR/html401/interact/forms.html) in the request body. </li><li>To import from OneDrive for Business, request Headers should include **Content-Type: application/json** with [ImportInfo](/rest/api/power-bi/imports/postimport#importinfo) in the request body.</li><li>To import large .pbix files between 1 GB and 10 GB, see [Create Temporary Upload Location](/rest/api/power-bi/imports/createtemporaryuploadlocation), supported only for workspaces on premium capacity.</li></ul>",
                "operationId": "Imports_PostImport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "datasetDisplayName",
                        "in": "query",
                        "required": true,
                        "description": "The display name of the dataset, should include file extension. Not supported when importing from OneDrive for Business.",
                        "type": "string"
                    },
                    {
                        "name": "nameConflict",
                        "in": "query",
                        "required": false,
                        "description": "Determines what to do if a dataset with the same name already exists. Default value is 'Ignore'.",
                        "type": "string",
                        "enum": [
                            "Ignore",
                            "Abort",
                            "Overwrite",
                            "CreateOrOverwrite"
                        ],
                        "x-ms-enum": {
                            "name": "ImportConflictHandlerMode",
                            "modelAsString": true,
                            "values": [
                                {
                                    "value": "Ignore",
                                    "description": "If dataset with the same name already exists, Import operation will create a new dataset with the same name."
                                },
                                {
                                    "value": "Abort",
                                    "description": "If dataset with the same name already exists, Import operation will be aborted."
                                },
                                {
                                    "value": "Overwrite",
                                    "description": "If dataset with the same name already exists, Import operation will replace the existing dataset with the new one.<br/>Import operation will fail if there is no conflict or if there are more than one datasets with the same name."
                                },
                                {
                                    "value": "CreateOrOverwrite",
                                    "description": "If dataset with the same name already exists, Import operation will replace the existing dataset with the new one.<br/>Import operation will fail if there are more than one datasets with the same name."
                                }
                            ]
                        }
                    },
                    {
                        "name": "importInfo",
                        "in": "body",
                        "description": "The import to post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/v1.0/myorg/imports/{importId}": {
            "get": {
                "tags": [
                    "Imports"
                ],
                "summary": "Returns the specified import from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dataset.ReadWrite.All or Dataset.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Imports_GetImportById",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "importId",
                        "in": "path",
                        "required": true,
                        "description": "The import id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    }
                },
                "x-ms-examples": {
                    "in progress import example": {
                        "parameters": {
                            "importId": "82d9a37a-2b45-4221-b012-cb109b8e30c7"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "82d9a37a-2b45-4221-b012-cb109b8e30c7",
                                    "importState": "Publishing",
                                    "createdDateTime": "2018-05-08T14:56:18.477Z",
                                    "updatedDateTime": "2018-05-08T14:56:18.477Z",
                                    "name": "SalesMarketing",
                                    "connectionType": "import",
                                    "source": "Upload",
                                    "datasets": [

                                    ],
                                    "reports": [

                                    ]

                                }
                            }
                        }
                    },
                    "completed import example": {
                        "parameters": {
                            "importId": "82d9a37a-2b45-4221-b012-cb109b8e30c7"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "82d9a37a-2b45-4221-b012-cb109b8e30c7",
                                    "importState": "Succeeded",
                                    "createdDateTime": "2018-05-08T14:56:18.477Z",
                                    "updatedDateTime": "2018-05-08T14:56:18.477Z",
                                    "name": "SalesMarketing",
                                    "connectionType": "import",
                                    "source": "Upload",
                                    "datasets": [
                                        {
                                            "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "name": "SalesMarketing",
                                            "webUrl": "https://app.powerbi.com/datasets/cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                                        }
                                    ],
                                    "reports": [
                                        {
                                            "id": "5b218778-e7a5-4d73-8187-f10824047715",
                                            "name": "SalesMarketing",
                                            "webUrl": "https://app.powerbi.com/reports/5b218778-e7a5-4d73-8187-f10824047715",
                                            "embedUrl": "https://app.powerbi.com/reportEmbed?reportId=5b218778-e7a5-4d73-8187-f10824047715"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/imports/createTemporaryUploadLocation": {
            "post": {
                "tags": [
                    "Imports"
                ],
                "summary": "Creates a temporary blob storage to be used to import large .pbix files larger than 1 GB and up to 10 GB.",
                "description": "To import large .pbix files, create a temporary upload location and upload the .pbix file using the shared access signature (SAS) url from the response, and then call [Post Import](/rest/api/power-bi/imports/postimport) and specify 'fileUrl' to be the SAS url in the [Request Body](/rest/api/power-bi/imports/postimport#request-body)<br/><br/>**Note**: Import large .pbix files is only available for workspaces on premium capacity and for .pbix files that are between 1 GB and 10 GB. <br/><br/>**Required scope**: Dataset.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Imports_CreateTemporaryUploadLocation",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TemporaryUploadLocation"
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v1.0/myorg/reports": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Returns a list of reports from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All or Report.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_GetReports",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Report]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "id": "5b218778-e7a5-4d73-8187-f10824047715",
                                            "name": "SalesMarketing",
                                            "webUrl": "https://app.powerbi.com//reports/5b218778-e7a5-4d73-8187-f10824047715",
                                            "embedUrl": "https://app.powerbi.com/reportEmbed?reportId=5b218778-e7a5-4d73-8187-f10824047715"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Returns the specified report from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All or Report.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_GetReport",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "description": "The report id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Report"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "reportKey": "5b218778-e7a5-4d73-8187-f10824047715"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "id": "5b218778-e7a5-4d73-8187-f10824047715",
                                    "name": "SalesMarketing",
                                    "webUrl": "https://app.powerbi.com//reports/5b218778-e7a5-4d73-8187-f10824047715",
                                    "embedUrl": "https://app.powerbi.com/reportEmbed?reportId=5b218778-e7a5-4d73-8187-f10824047715"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Reports"
                ],
                "summary": "Deletes the specified report from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_DeleteReport",
                "consumes": [

                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "description": "The report id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "reportKey": "5b218778-e7a5-4d73-8187-f10824047715"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/Clone": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Clones the specified report from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Content.Create<br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_CloneReport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "description": "The report id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Clone report parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CloneReportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Report"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/Export": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Exports the specified report from **\"My Workspace\"** to a .pbix file.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All or Report.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_ExportReport",
                "consumes": [],
                "produces": [
                    "application/zip"
                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "in": "path",
                        "description": "The report id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "file"
                        },
                        "description": "Exported File"
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/UpdateReportContent": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Updates the specified report from **\"My Workspace\"** to have the same content as the report in the request body.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_UpdateReportContent",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "description": "The report id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "UpdateReportContent parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateReportContentRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Report"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "reportKey": "5b218778-e7a5-4d73-8187-f10824047715",
                            "requestParameters": {
                                "sourceReport": {
                                    "sourceReportId": "8e4d5880-81d6-4804-ab97-054665050799",
                                    "sourceWorkspaceId": "2f42a406-a075-4a15-bbf2-97ef958c94cb"
                                },
                                "sourceType": "ExistingReport"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/Rebind": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Rebinds the specified report from **\"My Workspace\"** to the requested dataset.",
                "description": "<br/>**Required scope**: Report.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Reports_RebindReport",
                "consumes": [
                    "application/json"
                ],
                "produces": [

                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "in": "path",
                        "description": "The report id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Rebind report parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RebindReportRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v1.0/myorg/dashboards": {
            "get": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Returns a list of dashboards from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_GetDashboards",
                "consumes": [

                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Dashboard]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                            "displayName": "SalesMarketing",
                                            "embedUrl": "https://app.powerbi.com/dashboardEmbed?dashboardId=69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                            "isReadOnly": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Creates a new empty dashboard on **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Content.Create <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_AddDashboard",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "requestParameters",
                        "description": "Add dashboard parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddDashboardRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dashboard"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "requestParameters": {
                                "name": "SalesMarketing"
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                    "displayName": "SalesMarketing",
                                    "embedUrl": "https://app.powerbi.com/dashboardEmbed?dashboardId=69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                    "isReadOnly": false
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}": {
            "get": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Returns the specified dashboard from **\"My Workspace\"**.",
                "description": "<br/>**Required scope**: Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_GetDashboard",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dashboard"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "dashboardKey": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                    "displayName": "SalesMarketing",
                                    "embedUrl": "https://app.powerbi.com/dashboardEmbed?dashboardId=69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                                    "isReadOnly": false
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles": {
            "get": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Returns a list of tiles within the specified dashboard from **\"My Workspace\"**.",
                "description": "**Note**: All tile types are supported except for \"model tiles\", which include datasets and live tiles that contain an entire report page. <br/><br/>**Required scope**: Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_GetTiles",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Tile]]"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "dashboardKey": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "312fbfe9-2eda-44e0-9ed0-ab5dc571bb4b",
                                            "title": "SalesMarketingTile",
                                            "embedUrl": "https://app.powerbi.com/embed?dashboardId=69ffaa6c-b36d-4d01-96f5-1ed67c64d4af&tileId=312fbfe9-2eda-44e0-9ed0-ab5dc571bb4b",
                                            "rowSpan": 0,
                                            "colSpan": 0,
                                            "reportId": "5b218778-e7a5-4d73-8187-f10824047715",
                                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}": {
            "get": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Returns the specified tile within the specified dashboard from **\"My Workspace\"**.",
                "description": "**Note**: All tile types are supported except for \"model tiles\", which include datasets and live tiles that contain an entire report page. <br/><br/>**Required scope**: Dashboard.ReadWrite.All or Dashboard.Read.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_GetTile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tileKey",
                        "description": "The tile id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tile"
                        }
                    }
                },
                "x-ms-examples": {
                    "example": {
                        "parameters": {
                            "dashboardKey": "69ffaa6c-b36d-4d01-96f5-1ed67c64d4af",
                            "tileKey": "312fbfe9-2eda-44e0-9ed0-ab5dc571bb4b"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "312fbfe9-2eda-44e0-9ed0-ab5dc571bb4b",
                                    "title": "SalesMarketingTile",
                                    "embedUrl": "https://app.powerbi.com/embed?dashboardId=69ffaa6c-b36d-4d01-96f5-1ed67c64d4af&tileId=312fbfe9-2eda-44e0-9ed0-ab5dc571bb4b",
                                    "rowSpan": 0,
                                    "colSpan": 0,
                                    "reportId": "5b218778-e7a5-4d73-8187-f10824047715",
                                    "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}/Clone": {
            "post": {
                "tags": [
                    "Dashboards"
                ],
                "summary": "Clones the specified tile from **\"My Workspace\"**.",
                "description": "<br/>If target report id and target dataset are not specified, the following can occur:<li>When a tile clone is performed within the same workspace, the report and dataset links will be cloned from the source tile.</li><li>When cloning a tile within a different workspace, report and dataset links will be rested, and the tile will be broken.</li><br/>**Required scope**: Dashboard.ReadWrite.All <br/>To set the permissions scope, see [Register an app](https://docs.microsoft.com/power-bi/developer/register-app).",
                "operationId": "Dashboards_CloneTile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tileKey",
                        "description": "The tile id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Clone tile parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CloneTileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tile"
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v1.0/myorg/reports/GenerateToken": {
            "post": {
                "tags": [
                    "EmbedToken"
                ],
                "summary": "This functionality is only available in a workspace context. Use [Reports GenerateTokenForCreateInGroup](/rest/api/power-bi/embedtoken/reports_generatetokenforcreateingroup).",
                "operationId": "Reports_GenerateTokenForCreate",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "requestParameters",
                        "description": "Generate token parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/reports/{reportKey}/GenerateToken": {
            "post": {
                "tags": [
                    "EmbedToken"
                ],
                "summary": "This functionality is only available in a workspace context. Use [Reports GenerateTokenInGroup](/rest/api/power-bi/embedtoken/reports_generatetokeningroup).",
                "operationId": "Reports_GenerateToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "reportKey",
                        "description": "The report id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Generate token parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/GenerateToken": {
            "post": {
                "tags": [
                    "EmbedToken"
                ],
                "summary": "This functionality is only available in a workspace context. Use [Dashboards GenerateTokenInGroup](/rest/api/power-bi/embedtoken/dashboards_generatetokeningroup).",
                "operationId": "Dashboards_GenerateToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "dashboardKey",
                        "description": "The dashboard id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestParameters",
                        "description": "Generate token parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GenerateTokenRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EmbedToken"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/dashboards/{dashboardKey}/tiles/{tileKey}/GenerateToken": {
            "post": {
                "tags": [
                    "EmbedToken"
                ],
[...]
