h1
{
    font: 18px arial, verdana;
}
p, table
{
     font: 14px arial, verdana;
}
.step
{
    font: 16px arial, verdana;
    font-weight: bold;
}
.tile {
    width: 300px;
    height: 300px;
}

.big-tile {
    width: 600px;
    height: 600px;
}

.report {
    width: 1024px;
    height: 768px;
}