<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pbiApiEndpoint" value="https://api.powerbi.com" />
        <!--<add key="azureApiEndpoint" value="https://api.powerbi.com/azure/resourceProvider"/>-->
        <add key="azureApiEndpoint" value="https://management.azure.com" />
        <add key="subscriptionId" value="" />
        <add key="resourceGroup" value="" />
        <add key="workspaceCollectionName" value="" />
        <add key="signingKey" value="" />
        <add key="workspaceId" value="" />
        <!-- Credentials to connect to datasource within Power BI -->
        <add key="username" value="" />
        <add key="password" value="" />
        <add key="clientId" value="7b2b3ec1-10e7-48f9-887b-c6ee7fe9ec9f" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>