<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pbiApiEndpoint" value="https://biazure-int-edog-redirect.analysis-df.windows.net" />
        <!--<add key="azureApiEndpoint" value="https://biazure-int-edog-redirect.analysis-df.windows.net/azure/resourceProvider"/>-->
        <add key="azureApiEndpoint" value="https://api-dogfood.resources.windows-int.net" />
        <add key="subscriptionId" value="" />
        <add key="resourceGroup" value="PowerBI" />
        <add key="workspaceCollectionName" value="" />
        <add key="signingKey" value="" />
        <add key="workspaceId" value="3" />
        <!-- Credentials to connect to datasource within Power BI -->
        <add key="username" value="" />
        <add key="password" value="" />
        <add key="clientId" value="75abaa44-9764-4cbf-9e33-24800498f289" />
        <!-- Public preview thumbprint -->
        <add key="thumbprint" value="6169A4F22AA42B4C23873561462358BED9924AE6" />
        <!-- Dev Thumbprint -->
        <!--<add key="thumbprint" value="6169A4F22AA42B4C23873561462358BED9924AE6" />-->
        <!-- eDog Thumbprint -->
        <!--<add key="thumbprint" value="BEFEE86EB057AA95A54E1C0A5E1E94868EAC24D9" />-->
        <add key="useCertificate" value="false" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>