<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pbiApiEndpoint" value="https://wabi-paas-1-scus-redirect.analysis.windows.net" />
        <!--<add key="azureApiEndpoint" value="https://wabi-paas-1-scus-redirect.analysis.windows.net"/>-->
        <add key="azureApiEndpoint" value="https://management.azure.com" />
        <add key="subscriptionId" value="6544ace1-4712-4acb-b8d4-629cce064c7c" />
        <add key="resourceGroup" value="PBI1" />
        <add key="workspaceCollectionName" value="PBI1" />
        <add key="signingKey" value="mRe//lYk4h3sofrnP5wfO+m+uvRVvknNP2fWOUu+q0u926CJQQouKwO88noeDcgGbVD0aTcjueqLpJVT1+CypQ==" />
        <add key="workspaceId" value="369b2190-ffc3-4e90-acd3-69899d338c21" />
        <!-- Credentials to connect to datasource within Power BI -->
        <add key="username" value="" />
        <add key="password" value="" />
        <add key="clientId" value="75abaa44-9764-4cbf-9e33-24800498f289" />
        <!-- Public preview thumbprint -->
        <add key="thumbprint" value="6169A4F22AA42B4C23873561462358BED9924AE6" />
        <!-- Dev Thumbprint -->
        <!--<add key="thumbprint" value="6169A4F22AA42B4C23873561462358BED9924AE6" />-->
        <!-- eDog Thumbprint -->
        <!--<add key="thumbprint" value="BEFEE86EB057AA95A54E1C0A5E1E94868EAC24D9" />-->
        <add key="useCertificate" value="false" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>