{
    "swagger": "2.0",
    "info": {
        "version": "beta",
        "title": "Power BI Beta API"
    },
    "host": "api.powerbi.com",
    "schemes": [
        "https"
    ],
    "consumes": [ ],
    "produces": [ ],
    "paths": {
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the EntitySet datasets",
                "operationId": "Datasets_GetDatasets",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The workspace id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Dataset]]"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Post a new entity to EntitySet datasets",
                "operationId": "Datasets_PostDataset",
                "consumes": [
                    "application/json"
                ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "description": "The workspace id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataset",
                        "in": "body",
                        "description": "The entity to post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}workspaces/{workspaceId}/datasets/{datasetKey}/tables/{tableName}/rows": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_PostRows",
                "consumes": [ ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_DeleteRows",
                "consumes": [ ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}/tables": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_GetTables",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Table]]"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}/tables/{tableName}": {
            "put": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_PutTable",
                "consumes": [ ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_GetDatasetById",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_DeleteDatasetById",
                "consumes": [ ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}/Default.GetBoundGatewayDatasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_GetGatewayDatasources",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "description": "The dataset id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[GatewayDatasource]]"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}/datasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_GetDatasources",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Datasource]]"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/datasets/{datasetKey}/Default.SetAllConnections": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "operationId": "Datasets_SetAllConnections",
                "consumes": [
                    "application/json"
                ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "datasetKey",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/Object"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/gateways/{gatewayId}/datasources/{datasourceId}": {
            "patch": {
                "tags": [
                    "Gateways"
                ],
                "operationId": "Gateways_PatchDatasource",
                "consumes": [
                    "application/json"
                ],
                "produces": [ ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "gatewayId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasourceId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasourceDelta",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Object"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/imports": {
            "get": {
                "tags": [
                    "Imports"
                ],
                "summary": "Returns the Imports",
                "operationId": "Imports_GetImports",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Import]]"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Imports"
                ],
                "summary": "Creates a new import",
                "operationId": "Imports_PostImport",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "importInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ImportInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/imports/{importId}": {
            "get": {
                "tags": [
                    "Imports"
                ],
                "summary": "Returns the import by id",
                "operationId": "Imports_GetImportById",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    },
                    {
                        "name": "importId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Import"
                        }
                    }
                }
            }
        },
        "/beta/collections/{workspaceCollectionName}/workspaces": {
            "get": {
                "summary": "Returns a list of workspaces for the specified collection",
                "operationId": "Workspaces_GetWorkspacesByCollectionName",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "workspaceCollectionName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Workspace]]"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Creates a new workspace within a workspace collection",
                "operationId": "Workspaces_PostWorkspace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "workspaceCollectionName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Workspace"
                        }
                    }
                }
            }
        },
        "/beta/collections/{collectionName}/workspaces/{workspaceId}/reports": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Returns the EntitySet reports",
                "operationId": "Reports_GetReports",
                "consumes": [ ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "collectionName",
                        "in": "path",
                        "description": "The workspace collection name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "workspaceId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ODataResponse[List[Report]]"
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Import": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "importState": {
                    "type": "string"
                },
                "reports": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Import"
                    }
                },
                "datasets": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Dataset"
                    }
                }
            }
        },
        "ImportInfo": {
            "type": "object",
            "properties": {
                "filePath": {
                    "type": "string"
                },
                "connectionType": {
                    "type": "string"
                }
            }
        },
        "Object": {
            "type": "object",
            "properties": { }
        },
        "ODataResponse[List[Dataset]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Dataset"
                    }
                }
            }
        },
        "Dataset": {
            "required": [
                "name",
                "tables"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "defaultRetentionPolicy": {
                    "type": "string"
                },
                "tables": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Table"
                    }
                },
                "webUrl": {
                    "type": "string"
                },
                "datasources": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Datasource"
                    }
                }
            }
        },
        "Table": {
            "required": [
                "name",
                "columns"
            ],
            "type": "object",
            "properties": {
                "name": {
                    "pattern": "^[\\x09\\x0A\\x0D\\x20\\x23\\x2D\\x30-\\x39\\x40-\\x5A\\x5E-\\x5F\\x61-\\x7A\\x7E-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]{1,100}$",
                    "type": "string"
                },
                "columns": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Column"
                    }
                },
                "rows": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Row"
                    }
                }
            }
        },
        "Datasource": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "connectionString": {
                    "type": "string"
                }
            }
        },
        "Column": {
            "required": [
                "name",
                "dataType"
            ],
            "type": "object",
            "properties": {
                "name": {
                    "pattern": "^[\\x09\\x0A\\x0D\\x20-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]+$",
                    "type": "string"
                },
                "dataType": {
                    "type": "string"
                }
            }
        },
        "Row": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                }
            }
        },
        "ODataResponse[List[Table]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Table"
                    }
                }
            }
        },
        "ODataResponse[List[GatewayDatasource]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GatewayDatasource"
                    }
                }
            }
        },
        "GatewayDatasource": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "gatewayId": {
                    "type": "string"
                },
                "datasourceType": {
                    "type": "string"
                },
                "connectionDetails": {
                    "type": "string"
                },
                "credentialType": {
                    "type": "string"
                },
                "basicCredentials": {
                    "$ref": "#/definitions/BasicCredentials"
                }
            }
        },
        "BasicCredentials": {
            "type": "object",
            "properties": {
                "username": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "ODataResponse[List[Datasource]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Datasource"
                    }
                }
            }
        },
        "ODataResponse[List[Report]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Report"
                    }
                }
            }
        },
        "ODataResponse[List[Import]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Import"
                    }
                }
            }
        },
        "ODataResponse[List[Workspace]]": {
            "type": "object",
            "properties": {
                "odata.context": {
                    "type": "string"
                },
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Workspace"
                    }
                }
            }
        },
        "Report": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "webUrl": {
                    "type": "string"
                },
                "embedUrl": {
                    "type": "string"
                }
            }
        },
        "Workspace": {
            "type": "object",
            "properties": {
                "workspaceId": {
                    "type": "string"
                },
                "workspaceCollectionName": {
                    "type": "string"
                }
            }
        }
    },
    "parameters": { },
    "responses": { },
    "security": [ ],
    "tags": [ ]
}