<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiEndpoint" value="https://onebox-redirect.analysis.windows-int.net"/>
    <add key="subscriptionId" value="666a68a6-87d7-4894-b411-ba51c93f0849" />
    <add key="resourceGroup" value="WB" />
    <add key="workspaceCollectionName" value="test" />
    <add key="workspaceId" value="" />
    <add key="username" value="" />
    <add key="password" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>